body{
    text-align: center;
    background-color: lightseagreen;
}
h1{
    font-size: 3rem;
}

.cards{
    text-align: start;
    margin-top: 50px;
    width: 100%;
    height: max-content;
}
.card2{
    box-shadow: 2px 3px 6px 6px white;
    border: 1px solid white;
    margin: auto;
    width: 50%;
    height: fit-content;
    padding: 20px;
}
.card2 p{
    color: rgb(26, 12, 12);
    font-size: 2em;
}
.card2 button{
    cursor: pointer;
    margin-left: 40%;
    text-align: center;
    font-size: 1.5rem;
    font-style: oblique;
    color: green;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: red;
}
.card2 button:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}